h1 {
  margin-top: 7px;
  text-align: center;
  font-size: 150px;
  font-weight: 900;
  margin-bottom: -20px;
}

.units {
 
}
.C,
.F {
  transition: all 200ms ease-in-out;
}

.C:hover,
.F:hover {
  cursor: pointer;
  color: rgb(255, 0, 212);
  font-weight: 700;
}