h1 {
  /*margin-top: 7px;*/
  /*text-align: center;*/
  font-size: 30px;
  font-weight: 800;
  margin-bottom: -20px;
  position:relative;
  top: 3px;
  right: 72px;
  
}

.units{
  position:relative;
  top: -5px;
  right:75px;

}


a:link{
  text-decoration: none;
  
}

.C,
.F {
  transition: all 200ms ease-in-out;
  
}
.C.active,.F.active{
  color: #a275e3;
}

.F.unactive,.C.unactive{
color: #fa86be;
}

.F.unactive:hover,.C.unactive:hover{
  font-weight: 700px;
  color: #fa86be;
}