
.weather-forecast {
  margin-top: 20px;
  box-sizing: border-box;
  color: #fa86be;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}


.ForecastInfo canvas {
  display: block;
  margin: 5px auto;
  height: 25px;
  width: 25px;
}

.line{
  border: 1px solid #9aebed;
  background-color: #9aebed;
}