body{
    
}

.Weather{
   border: 1px solid #dadde1;
   background-color: pink;
}

.Weather h1{
    color: #878787;
    color: rgb(135,135, 135);
    display: block;
    font-family: arial, sans-serif;
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;

}

.Main-icon{
    max-width: 50px;
    max-height: 50px;
}