.weather_app_wrapper {
  max-width: 600px;
  margin: 60px auto;
  text-align: center;
}

.weather_app {
  display: block;
  margin: 0 auto;
  width: 500px;
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 3px;
}

#search_bar {
 border:transparent
 
}

#search-form{
  position:relative;
  top: -45px;
}


.search_icon {
  background-color:transparent;
  font-size: 23px;
  border: none;
}


hr {
  background: #000000;
  height: 3px;
  border-width: 0px;
  max-width: 600px;
  margin: 5px auto;
}

small {
  display: block;
  text-align: center;
}
    